<!-- Chat element -->
<div class="chat_element own_message">
    <div class="chat_name">
        Fernando Torres
    </div>

    <!-- Chat Bubble -->
    <div class="chat_bubble">
        <div class="chat_message">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui convenit? Illud dico, ea, quae dicat, praeclare inter se cohaerere. Duo enim genera quae erant, fecit tria. Ut alios omittam, hunc appello, quem ille unum secutus est.
        </div>
        <div class="chat_meta clearfix">
            <div class="chat_time">
                Hace 30 min.
            </div>
            <div class="chat_distance">
                35 m
            </div>
        </div>
    </div>
    <!-- /Chat Bubble -->
</div>
<!-- /Chat element -->
