<form role="form" action="/user" method="POST">
  <input name="name" placeholder="Escribe aquí tu nombre" value="Nombre Apellido"></input><br/>
  <input name="nick" placeholder="Escribe aquí tu nick" value="Usuario-<%=Math.floor((Math.random() * 100) + 1)%>"></input><br/>
  <label>Sexo:</label>
  <select name="gender">
    <option value="hombre">Hombre</option>
    <option value="mujer">Mujer</option>
  </select><br/>
  <input name="avatar_url" placeholder="Escribe aquí el URL de tu avatar" value="img/user.png"></input><br/>
  <button type="submit">Login</button>
</form>
