<div class="container">
    <div class="login">
        <div class="logo">
            <img src="img/logo.svg" alt="">
        </div>
        <form action="/user" method="POST">
          <div class="form_block">
            <label for="name">User name</label>
            <input type="text" name="name">
          </div>
          <div class="form_block">
            <label for="password">User pass</label>
            <input type="password" name="password">
          </div>
          <button type="submit">
            Enviar
          </button>
        </form>
    </div>
</div>
<%console.log("OEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEe");%>

<%console.log(req.session);%>
