<div class="container">
        <div class="header">
            <div class="logo">
                <img src="img/logo.svg" alt="">
            </div>
        </div>
        <div class="app clearfix">
            <div class="users" id="friends_wrap">
            </div>
            <!-- users -->
            <div class="chat">
                <div class="chat_holder">
                    <div class="chat_input">
                        <form action="#" method="GET">
                            <textarea name="textin" placeholder="Type somethin' cool, User Id 0..."></textarea>
                            <button type="submit">
                                <img src="img/right.svg" alt="">
                            </button>
                        </form>
                    </div>
                    <div class="chat_bubbles clearfix"  id="chat_wrap">
                    </div>
                    <!-- chat_bubbles -->
                </div>
                <!-- chat_holder -->
            </div>
            <!-- chat -->
            <div class="profil">
                <div class="profil_pic">
                    <img src="img/128.jpg" alt="">
                </div>
                <div class="profil_info">
                    <div class="profil_name">
                        <%=req.session.user.name%>
                    </div>
                    <div class="profil_time">
                        <%=new Date()%>
                    </div>
                </div>
            </div>
        </div>
        <!-- app -->
    </div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function(){
        console.log("Homepage document ready");
        Prox.Chat.init($("#nick").val());
      }, false);

    </script>
