<!-- Chat element -->
<div class="bubble <%=Prox.Utils.is_same(author)==true ? '':'own'%>">
    <div class="bubble_name">
        <%=author.name%>
    </div>
    <div class="bubble_content">
        <div class="bubble_text">
          <%=text%>
        </div>
        <div class="chat_meta clearfix">
            <div class="chat_time">
                <%=Prox.Utils.timeSince(new Date(createdAt))%>
            </div>
            <div class="chat_distance">
                35 m
            </div>
        </div>
    </div>
</div>
