<div class="bubble <%=Prox.Chat.is_own(author)==true ? '':'own'%>">
    <div class="bubble_name">
        <%=author%>
    </div>
    <div class="bubble_content">
        <div class="bubble_text">
          <%=text%>
        </div>
        <div class="chat_meta clearfix">
            <div class="chat_time">
                <%=Prox.Chat.timeSince(new Date(createdAt))%>
            </div>
            <div class="chat_distance">
                35 m
            </div>
        </div>
    </div>
</div>
