<!-- Friend block -->
<div class="friend_block clearfix">
    <div class="friend_image">
        <img src="<%=avatar_url%>" alt="">
    </div>
    <div class="friend_info">
        <div class="name">
            <%=name%>
        </div>
        <div class="sumed_message">
            Resumen de un mensaje...
        </div>
        <div class="meta clearfix">
            <div class="time">
                Hace 30 min.
            </div>
            <div class="distance">
                35 m
            </div>
        </div>
    </div>
</div>
<!-- /Friend block -->