<form role="form" action="/user" method="POST">
  <input name="name"  placeholder="Escribe aquí tu nombre"></input><br/>
  <input name="nick" placeholder="Escribe aquí tu nick"></input><br/>
  <label>Sexo:</label>
  <select name="gender">
    <option value="hombre">Hombre</option>
    <option value="mujer">Mujer</option>
  </select><br/>
  <input name="avatar_url" placeholder="Escribe aquí el URL de tu avatar"></input><br/>
  <button type="submit">Login</button>
</form>

<br/>
<br/>
<a href="/home">Go directly to chat</a>
